{% extends 'base/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}

    <h2 class="mb-3">О нас</h2>
    <p><h5>Добро пожаловать в <b>Terra Silvita</b> – оазис вкуса и природы, где каждый гость становится участником волшебного слияния с красотой окружающего мира.
        Наш ресторан приглашает вас на уникальное кулинарное путешествие, где заботливо отобранные ингредиенты и изысканные блюда становятся частью истории о земле и ее богатстве.</h5></p>

    <h2 class="mb-3">Наша миссия</h2>
    <p><h5>Мы стремимся создать уникальный опыт для каждого гостя, предлагая высококачественные блюда, внимательное обслуживание и уютную атмосферу.</h5></p>

    <h2 class="mb-3">Наша команда</h2>
    <p><h5>Наша команда состоит из талантливых поваров, опытных официантов и преданных сотрудников, которые делают все возможное, чтобы ваше посещение нашего ресторана было запоминающимся.</h5></p>

    <h2 class="mb-3">Наши ценности</h2>
    <ul class="mb-4">
        <li><h5><strong>Качество:</strong> Мы стремимся к высшему качеству во всем, что делаем, начиная от выбора ингредиентов до обслуживания наших гостей.</h5></li>
        <li><h5><strong>Гостеприимство:</strong> Для нас каждый гость — это часть нашей семьи. Мы ценим каждого человека, посетившего наш ресторан, и стремимся сделать его пребывание у нас незабываемым.</h5></li>
        <li><h5><strong>Инновации:</strong> Мы постоянно развиваемся и совершенствуем наши блюда и сервис, чтобы предложить гостям новые и интересные впечатления.</h5></li>
    </ul>

{% endblock %}
