{% extends 'base/layout.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}

    <h2 class="mb-3">Как нас найти</h2>
    <p><h5>Мы находимся в самом сердце Казани, в уютном уголке города. Приходите и наслаждайтесь великолепной атмосферой и кухней ресторана Terra et Silva.</h5></p>

    <div class="mb-4" style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/org/terra_et_silva/106454005490/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Terra et Silva</a>
        <a href="https://yandex.ru/maps/43/kazan/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ресторан в Казани</a>
        <a href="https://yandex.ru/maps/43/kazan/category/soft_drinks_bar/87599323630/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Безалкогольный бар в Казани</a>
        <iframe src="https://yandex.ru/map-widget/v1/?ll=49.146581%2C55.803646&mode=search&oid=106454005490&ol=biz&sctx=ZAAAAAgBEAAaKAoSCfxUFRqIx0JAEXDNHf0v8UtAEhIJGRwlr84xoD8RITzaOGItpj8iBgABAgMEBSgKOABAiJ0GSAFqAnJ1nQHNzEw9oAEAqAEAvQE1HaOawgEG8u2cyYwDggIOdGVycmEgZXQgc2lsdmGKAgCSAgCaAgxkZXNrdG9wLW1hcHM%3D&sll=49.146581%2C55.803646&source=serp_navig&sspn=0.015525%2C0.005203&text=terra%20et%20silva&z=16.54" width="760" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>

    <h2 class="mb-3">Свяжитесь с нами</h2>
    <p><h5>У вас есть вопросы или предложения? Не стесняйтесь связаться с нами! Наши представители готовы помочь вам в любое время.</h5></p>

    <ul>
        <li><h5><strong>Телефон:</strong> +7 (987) 419-17-78</h5></li>
        <li><h5><strong>Электронная почта:</strong> terraetsilva@gmail.com</h5></li>
        <li><h5><strong>Адрес:</strong> ул. Подлужная, 56, Казань, Россия</h5></li>
    </ul>

    <h2 class="mb-3 mt-4">Работаем для вас</h2>
    <p><h5>Мы работаем каждый день, чтобы обеспечить вас лучшими блюдами и сервисом:</h5></p>

    <ul>
        <li><h5><strong>Понедельник-Четверг:</strong> с 12:00 до 22:00</h5></li>
        <li><h5><strong>Пятница-Воскресенье:</strong> с 12:00 до 23:00</h5></li>
    </ul>

    <h5 class="mb-5">Мы всегда рады видеть вас!</h5>

{% endblock %}
